:root { 
--gray_600:#707070; 
--red_700:#db2b38; 
--bluegray_800_b5:#29335cb5; 
--gray_300:#dedede; 
--gray_100:#f5f5f5; 
--bluegray_800:#29335c; 
--black_900_99:#00000099; 
--yellow_800:#f2a612; 
--black_900:#000000; 
--black_900_60:#00000060; 
--black_900_40:#00000040; 
--blue_400:#4d9ee0; 
--white_A700:#ffffff; 
}