
 @font-face { src: url("assets/fonts/montserratbold700.ttf"); font-family : "Montserrat"; font-style : Bold; font-weight : 700;  }
 @font-face { src: url("assets/fonts/montserratregular400.ttf"); font-family : "Montserrat"; font-style : Regular; font-weight : 400;  }